<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container">
    <div class="heading-font">
      <a class="navbar-brand" routerLink="">Ecommerce</a>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 heading-font">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="register"
            *ngIf="!auth.isLogin"
            >Register</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="login"
            *ngIf="!auth.isLogin"
            >Login</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            *ngIf="auth.isLogin"
            (click)="handleLogout()"
            >Logout</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            *ngIf="auth.isAdmin"
            routerLink="dashboard"
            >Dashboard</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="cart"
            >Cart</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
