<div class="container">
  <div class="row mt-5 d-flex justify-content-between">
    <div class="col col-3">
      <button
        type="button"
        class="btn btn-primary w-100"
        routerLink="/dashboard/addProducts"
      >
        Add Products
      </button>
    </div>
    <div class="col-3">
      <button
        type="button"
        class="btn btn-secondary w-100"
        routerLink="/dashboard/update"
      >
        Update / Remove Products
      </button>
    </div>
    <div class="col col-3">
      <button type="button" class="btn btn-danger w-100" routerLink="/dashboard/users">Remove User</button>
    </div>
  </div>
</div>
